* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  background:white;
}
.arctic h1{
  font-family: sans-serif;
  font-size: 20px;
  color:#A52A2A;
  padding-bottom: 1px;
}

.arctic ul li{
  font-family: sans-serif;
  font-size: 14px;
  color:black;
padding-top: 3px;
}
.arctic ul h2{
  font-family: sans-serif;
  font-size: 25px;
  color:#A52A2A;
  padding-top: 10px;
}

.arctic ul p{
font-family: sans-serif;
font-size: 15px;
padding-top: 7px;
text-align: justify;
}

.arctic ul h3{
  font-family: sans-serif;
  font-size: 23px;
  color:#A52A2A;
  padding-top: 5px;
}

.arctic ul h3 p{
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 5px;
}

img.resize{
  width:700px;
  height:500px;
  padding-top: 5px;
}

img.adjust{
  width:530px;
  height:420px;
}
